<!-- User Profile -->
<div id="profile">
  {% assign profile = site.theme_settings.profile %}
  <a href="{{ site.baseurl }}">
    <div class="img-wrap">
      <img src="{{ site.baseurl }}/{{ profile.image }}" alt="profile-image">
    </div>
  </a>
  <p class="username">{{ profile.username }}</p>
  <p class="description">{{ profile.description }}</p>
</div>
<!-- Tag Navigation -->
<div id="tag-wrap" class="tag-wrapper">
  <a href="{{ site.url }}/tags">
    <p class="title">TAGS 🤪 </p>
  </a>
  {% for tag in site.tags %}
  <a href="{{site.baseurl}}/tags#{{ tag | first | cgi_encode }}">
    <span class="tag">{{ tag | first }}</span>
  </a>
  {% endfor %}
</div>
<!-- Project -->
<div id="proj-wrap" class="tag-wrapper">
  <a href="{{ site.url }}/reference">
    <p class="title">REFERENCE 🙋🏻 </p>
  </a>
  {% for _ in site.reference %}
  <a href="{{site.baseurl}}/reference/{{ _.short_name}}">
    <span class="tag">{{ _.title}}</span>
  </a>
  {% endfor %}
</div>