<section id="project">
    <div class="card-container">
      {% for _ in site.reference %}
      {% assign id = id | plus: 1 %}
      <div class="card-wrapper">
        <a class="card" href="{{_.url}}">
          {% if _.image %}
          <div class="img-wrap">
            <img src="{{ site.url }}/assets/reference/cover/{{ _.image }}" alt="">
          </div>
          {% endif %}
          <div class="text-wrap">
            <div class="title-wrap">
              <div class="title">{{ _.title }}</div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
  </div>
  <div class="bg"></div>
</section>