#ref {
    .post-header {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 105px;
    left: 0%;
    height: 95px;
    background-color: $theme-dark;
    }
    h1.title {
        color: #fff;
    }
    .post-content {
        margin-top: 55px;
    }
}

#post {
        .post-header {
            padding-bottom: 60px;
            text-align: center;

            .title {
                margin-bottom: 0px;
            }

            .subtitle {
                font-size: 1.2rem;
            }

            .meta {
                color: $text-gray;
                font-size: 0.85rem;
                margin-top: 15px;
            }
        }
}

#post, #ref {
        .post-content {
            overflow: hidden;
            margin-bottom: 100px;
        }
}